<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}} 
    <div class="entry1">
       <div class="fukri1">
            <h2 class="level1 animate__animated animate__fadeInLeftBig">Welcome </h2>
                 <h2 class="level1 animate__animated animate__fadeInRightBig"> back!</h2>
       </div>
       <div class="js-conveyor-1">
           
           <ul>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
               <li>
                     <div class="topcharts">   A1</div>
               </li>
            
         
           </ul>
                
        
       
    </div>
    </div>
</body>
<script src="js/jquery.jConveyorTicker.min.js"></script>
<script src="js/main.js"></script>
{{!-- {{>footer}} --}}
</html>